doctype html
html
  head
    title Kaleb Juliu | 卡莱布-OS
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='assets/img/favicons/favicon.ico', rel='shortcut icon')
    link(href='./assets/css/main.css', rel='stylesheet')
  body
    .desktop-background.crt
      .os-title-box
        h1 卡莱布-OS
      
      .side-box
        h3 ########################################################
        h1 IFF-NET
        h3 ########################################################
        
        br
        
        h4 Kal-CORP
        h4 Standard Protocol
        
        br
        br
        
        h4 Index Status : Online
        
        .readme.button
          h1 README
        .resume.button
          h1 RESUME
        .project.button
          h1 PROJECT
        .system.button
          h1 SYSTEM 
        
      .top-box
        h1 
          span TERM:ID-八十七.
          span.blink |
      // Icons
      //.desktop-icon 
        //img(src='assets/img/doc.png')
        //h1 readme.txt
      //.desktop-icon 
        //img(src='assets/img/code.png')
        //h1 projects
      //.desktop-icon 
        //img(src='assets/img/resume.png')
        //h1 resume
      //.desktop-icon 
        //img(src='assets/img/system.png')
        //h1 system
        
      //Windows  
      .window-readme
        .header-module
          .box
          .three-lines
            .line-1
            .line-2
            .line-3
          h2 自述
          .three-lines
            .line-1
            .line-2
            .line-3
          h3#close-btn X
        p Hi!, my name is Kaleb Juliu i'm a frontend web developer in Indonesia 
        br
        p I've been coding since i was 15 and had been loving it ever since,Lets go straight to business and make your ideas happen on the web, Click the link below!
        
        
      .window-system
        .header-module
          .box
          .three-lines
            .line-1
            .line-2
            .line-3
          h2 系统
          .three-lines
            .line-1
            .line-2
            .line-3
          h3#close-btn-1 X
        .content-system
          h1 卡莱布-OS
          h3 Made by Kaleb Juliu
          
          p v2.0.0
          p Stable Realease 2/7/18
          p KAL PC Pro+ Edition
          
          p Copyright 1995-2018 KAL Computer Inc.,
          p a subsidiary of KAL CORP. All rights reserved
          
      .window-me
        .header-module
          .box
          .three-lines
            .line-1
            .line-2
            .line-3
          h2 自述
          .three-lines
            .line-1
            .line-2
            .line-3
          h3 X
        img(src='assets/img/retro-photo.jpg')
        
    script(src='./assets/js/main.js', type='text/javascript')
